.ml_container {
    background: black;
}

.ml_container:hover {
    background: rgb(48, 48, 48);
    transition: ease 0.3s;
    cursor: pointer;
    border-radius: 5px;
}

.ml_image {
    width: 54px;
    height: 54px;
    box-sizing: border-box;
    padding: 2px;
    margin: 5px 10px;
    border-radius: 50%;
    background: linear-gradient(90deg, #4DD4F7 0%, #9090FB 36.46%, #FF6B81 71.35%, #FBDF63 100%);
}

.ml_image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.ml_user {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    line-height: '1.5rem';
    box-sizing: 'border-box';
    padding-top: '10px';
    font-size: 15px;
}

@media(max-width: 960px){

    .ml_image {
        width: 32px;
        height: 32px;
        padding: 1px;
    }

    .ml_image img {
        width: 30px;
        height: 30px;
    }
}